.myhr {
	margin: .1rem 0;
}
.myhr2 {
	margin: .5rem 0;
}
#media-jabatan {
	font-size: 11px;
}
table thead tr th {
	text-align:center;
}
.label-view {
	color: #808080;
}
.view_gambar {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#gambar_produk {
	max-width: 100%;
}
.vertical-devider-right {
	border-right: 1px solid #808080
}